#content.home
  .wrapper-content
    .main
      .wrapper-main
        %h1.about Watch, create and share video playlists with your friends!
        %a.create-playlist{:href=>"#"} Create your own playlist
        .recent-playlists
          %h2 Specials
          %ul
            - @featured.each_with_index do |video, i|
              -thumb= "http://img.youtube.com/vi/#{video.ytid}/2.jpg"
              %li.video-item{:id=>"#{video.id}", :ytid=>"#{video.ytid}", :pos => "#{i}"}
                %a{:href=>"/#{video.playlists.first.member.username}/#{video.playlists.first.id}?&video=#{video.id}"}
                  .thumb
                    %img{:src=>"#{thumb}", :width=>60, :height=>45}
                  %p.name #{video.title}
                  - if @member && @playlist_member
                    %a.add-to-playlist{:href=>"#"} +
        .recent-playlists
          %h2 Recent Playlists
          %ul
            - @playlists.each do |t|
              - next if !t.member
              %li
                .thumb
                  %a{:href=>"/#{t.member.username}/#{t.id}"}
                    %img{:src=>"#{t.thumb}", :width=>"60", :height=>"45"}
                %a.title{:href=>"/#{t.member.username}/#{t.id}"} #{t.title}
                .member
                  .member-thumb
                    %img{:src=>"http://graph.facebook.com/#{t.member.fb_uid}/picture", :width=>"30", :height=>"30"}
                  %a.member-name{:href=>"/#{t.member.username}"} #{t.member.fb_name}
