-thumb= "http://img.youtube.com/vi/#{video.ytid}/2.jpg"
- playlist ||= nil
%li.video-item{:id=>"video_#{video.id}", :ytid=>"#{video.ytid}", :"data-id"=>video.id}
  %a{:href=>"##{video.ytid}", :class => 'play-item', :ytid=>"#{video.ytid}"}
    .thumb
      %img{:src=>"#{thumb}", :width=>90, :height=>57}
    %p.name= video.title
  = render 'videos/video_actions', :video => video, playlist: playlist
