.yt_actions_menu
  .filter-action= link_to "X", "#"
  = link_to playlist_videos_path(@playlist.id, :video => {:yt_url => video.ytid, :is_ytid => '1'}, :current_playlist => @playlist.id), :remote => true, :method => :post do
    .plus-action
  %ul.plus-more-action
    %li
      = image_tag 'plus-more.png'
      %ul
        %li
          Copy to
          = copy_playlists_list(video.ytid, video.new_record?)
        - if video.new_record?
          %li.menu_action
            = link_to 'Hate', videos_hate_user_path(current_user.id, :ytid => video.ytid), {:remote => true, :confirm => 'Are you sure you hate this? If you hate it you will never be shown this video again.', :method => 'POST'}