%head
  %meta{:charset => 'utf-8'}
  = csrf_meta_tag
  %title
    pList.tv
        
  = stylesheet_link_tag 'css/screen.css', :media => 'screen, projection'
  = stylesheet_link_tag 'css/print.css', :media => 'print'
  /[if lt IE 8]
    = stylesheet_link_tag 'css/ie.css', :media => 'screen, projection'
  = stylesheet_link_tag 'css/styles.css', :media => 'screen'
 
  = yield :stylesheets
