%ul
  - i=0
  - @videos.each do |video|
    - thumb= "http://img.youtube.com/vi/#{video.ytid}/1.jpg"
    %li.video-item{:id=>"#{video.id}", :ytid=>"#{video.ytid}", :pos => "#{i}"}
      %a{:href=>"#"}
        .thumb
          %img{:src=>"#{thumb}", :width=>60, :height=>45}
        %p.name #{video.title}
        %p.close X
    - i=i+1
