-if @editable
  #add-video
    %input{:type=>"text", :width=>"400", :height=>"30px"}
    %a.add-btn{:href=>"#"} Add
#playlist{:style=>"display:none;"}
  %ul
    -@videos.each_with_index do |video, i|
      -thumb= "http://img.youtube.com/vi/#{video.ytid}/2.jpg"
      %li.video-item{:id=>"#{video.id}", :ytid=>"#{video.ytid}", :pos => "#{i}"}
        %a{:href=>"#"}
          .thumb
            %img{:src=>"#{thumb}", :width=>60, :height=>45}
          %p.name #{video.title}
          - if @editable
            %p.close X
          - if @member && @playlist_member
            %a.add-to-playlist{:href=>"#"} +
  -unless @editing
    -if @videos.count > 8
      %a.more-videos{:href=>"#"} More