#root
  .top
    .wrapper-top
      #logo
        %h1 pList.tv
      .search
        %input{:type=>"text", :value=>"Search"}
        %a.search-btn{:href=>"#"} Go
      .account
        - if @member
          %a.member{:href=>"#"}
            %span.label You
            %span.icon
          .img{:style=>"width:20px;height:20px;background-color:white;float:right;"}
          .dropdown{:style=>"display:none;"}
            %a.logout{:href=>"#"} 
              %span.label Logout
        - else
          %a.sign-in{:href=>"#"} Sign In
          //%fb:login-button.fb-login{:autologoutlink=>"true", :perms => "email, user_location, user_birthday"}

  #content
    .wrapper-content
      .main
        .wrapper-main
          .header
            - if @playlist_member
              .thumb
                %img{:src=>"http://graph.facebook.com/#{@playlist_member.fb_uid}/picture"}
            .info
              %h1.plist-title #{@playlist.title}
              - if @playlist_member
                %p.by
                  %span.label by
                  %span
                    %a{:href=>"/#{@playlist_member.username}"} #{@playlist_member.fb_name}
                %p.created-at
                  %span.value #{@playlist_member.created_at.to_date.to_s(:long)}
            - if @playlist_member
              .share{:style=>"float:right;"}
                .fb-like
                  != "<fb:like layout='button_count' colorscheme='light' show_faces='false' send=true></fb:like>"
                .twitter
                  %a{:href=>"http://twitter.com/share", :class=>"twitter-share-button", "data-count"=>"horizontal"} Tweet
                  %script{:type=>"text/javascript", :src=>"http://platform.twitter.com/widgets.js"}
          #player{:playlist => "#{@playlist._id}"}
            .wrapper-player
              .ytplayer{:style=>"background-color:black;width:640px;height:390px;float:left;margin-bottom:10px;"}
                #ytapiplayer
                  %p{:style=>"display:none;"} You need Flash player 8+ and JavaScript enabled to view this video.
              - if @editable
                #add-video
                  %input{:type=>"text", :width=>"400", :height=>"30px"}
                  %a.add-btn{:href=>"#"} Add
              #playlist
                = render "index/playlist"
      #left
        .wrapper-left    
          #playlists
            = render "playlists/list"
            - if @editable
              #add-playlist-btn
                %a{:href=>"#"} New
#fb-root
#ajax-loader{:style=>""}
  %p
    %span.loader
    %span.label Updating ...

=content_for(:facebook_meta) do
  - if @playlist_member
    %meta{:property=>"og:title", :content=>"#{@playlist.title}"}
    %meta{:property=>"og:type", :content=>"album"}
    %meta{:property=>"og:image", :content=>"#{@playlist.thumb}"}
    %meta{:property=>"og:url", :content=>"#{request.url}"}
    %meta{:property=>"fb:app_id", :content=>"133998703298878"}