#content.edit-playlist
  .wrapper-content
    .main
      .wrapper-main
- form_for :featured, :url => '/admin/featured' do |f|
  %span= hidden_field_tag 'featured[ids][]', ''
  #playlist{:style=>"width:500px;"}
    %ul
      - @playlists.each_with_index do |pl, i|
        %li.pl-item{:id=>"#{pl.id}", :pos => "#{i}"}
          %span.left= check_box_tag 'featured[ids][]', pl.id.to_s, @featured.include?(pl)
          %a{:href=>"#"}
            .thumb
              %img{:src=>"#{pl.thumb}", :width=>60, :height=>45}
            %p.name 
              = pl.title
              = surround '(', ')' do
                = pl.published ? "published" : 'not published'
  = f.submit "Update"