!!!5
%html
  %head
    %meta{:charset => 'utf-8'}
    = csrf_meta_tag
    %title
      pList.tv

    = stylesheet_link_tag 'css/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'css/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'css/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'fancybox/jquery.fancybox.css', :media => 'screen'
    = stylesheet_link_tag 'css/styles.css', :media => 'screen'
    %style
      :sass
        body
          background-color: #CCC
  %body
    #signup
      %h1 Connect pList.tv to Facebook

      %p Looks like this is your first time using #{@member.fb_name}'s Facebook account to sign in to pList.tv.
      %p So there's one more step ...
      %br/
      %p Connect this Facebook account by choosing your new desired pList.tv username below.
      %p You'll never have to use this form again.
      %br/
      .username
        %p.plist http://plist.tv/
        .input
          %p Username
          %input{:type=>"text"}
        %a.sign-in-btn{:href=>"#"} Sign In
        .error{:style=>"display:none;"}
          %p Error goes here
    = javascript_include_tag(:defaults)
    :javascript
      $(".sign-in-btn").click(function(e) {
        var username= $.trim($(".username input").val());
        if (username) {
          $.post('/accounts/username', {member: {username: username}}, function(data) {
            if (data == 'ok') {
              window.location='/';
            } else if(data.error) {
              $(".error").text(data.error).show();
            }
          });
        }
      });
