%li
  .thumb
    = plist_link playlist do
      %img{:src=>"#{playlist.thumb || '/images/video-placeholder.jpg'}", :width=>"60", :height=>"45"}/
  = plist_link playlist, :class => "title"
  .member
    .member-thumb
      %img{:src=>"#{avatar_url(playlist.user)}", :width=>"30", :height=>"30"}
    = plist_user_link playlist, :class => 'member-name'
