.video-list-column
  .header
    .info
      %div
        %span.user-title
          = link_to "#{@playlist.user.username}'s", @playlist.user
          &raquo;
          %span#playlist-title= link_to @playlist.title, user_playlist_path(@playlist.user, @playlist.id)
          - if user_signed_in? && myown_playlist
            .right
              %a.options-button.minibutton
                %span#options-btn Options
      %br
      %div
        = render 'playlists/social_buttons'
      .clear
      
        / %div.options-description
        /   %p.left Enter a brief yet touching description by clicking this beautiful options button
        / .clear
  %ul#videos-list
    = render :partial => 'videos/video', :collection => @playlist.videos
