- playlist = playlist_invited.playlist
%li
  .thumb
    = plist_link playlist
      %img{:src=>"#{playlist.thumb || '/images/video-placeholder.jpg'}", :width=>"60", :height=>"45"}
  = plist_link playlist, :class => 'title'
  = link_to("accept", accept_invites_url(:token => playlist_invited.invite_token), class: 'pl blue minibutton')
  .member
    .member-thumb
      %img{:src=>"#{avatar_url(playlist.user)}", :width=>"30", :height=>"30"}
    = plist_user_link playlist, :class => 'member-name'