- content_for :title do
  = "#{@playlist.user.username}'s #{@playlist.title}"
- content_for :description do
  = "#{@playlist.description}"
- content_for :head do
  %meta{:property => "og:title",       :content => "#{@playlist.user.username}'s #{@playlist.title}"}
  %meta{:property => "og:description", :content => "#{@playlist.description}"}
  %meta{:property => "og:image",       :content => "#{@playlist.thumb}"}
  %meta{:property => "og:url",       :content => "http://plist.tv#{request.request_uri}"}

- content_for :footer do
  - if user_signed_in? && myown_playlist
    = render 'playlists/options'
/ = render 'playlists/header'
#player{:playlist => "#{@playlist.id}"}
  .wrapper-player
    #ytplayer{:style=>"background-color:black;width:940px;height:510px;float:left;margin-bottom:10px;"}
      #ytapiplayer
        %p{:style=>"display:none;"} You need Flash player 8+ and JavaScript enabled to view this video.
    #playlist{:style=>""}
      #video-list-tabs
        = render 'playlist_queue'
        = render 'search_youtube'

  #comments
    %h2 Comments
    %fb:comments{:href=>"#{request.url}", :num_posts=>"2", :width=>"800"}

:javascript
  current_playlist = '#{@playlist.id}';

