- include_javascript 'functions', 'playlist', 'player'
- content_for :footer do
  - if user_signed_in? && myown_playlist
    = render 'playlists/options'
= render 'playlists/header'
#player{:playlist => "#{@playlist.id}"}
  .wrapper-player
    .ytplayer{:style=>"background-color:black;width:940px;height:510px;float:left;margin-bottom:10px;"}
      #ytapiplayer
        %p{:style=>"display:none;"} You need Flash player 8+ and JavaScript enabled to view this video.
    #playlist{:style=>""}
      #video-list-tabs
        .video-list-column
          %h2 Playlist Queue
          = render 'playlists/add_video_form'
          %ul#videos-list
            = render :partial => 'videos/video', :collection => @playlist.videos
        .video-list-column
          %h2 Search Youtube
          = render 'playlists/search_youtube_form'
          %ul#ytvideos-list
            = render :partial => 'videos/video', :collection => Video.top_rated

  #comments
    %h2 Comments
    %fb:comments{:href=>"#{request.url}", :num_posts=>"2", :width=>"800"}

:javascript
  current_playlist = '#{@playlist.id}';