- content_for :title do
  = "#{@playlist.username}'s #{@playlist.title}"
- content_for :description do
  = "#{@playlist.description}"
- content_for :head do
  %meta{:property => "og:title",       :content => "#{@playlist.username}'s #{@playlist.title}"}
  %meta{:property => "og:description", :content => "#{@playlist.description}"}
  %meta{:property => "og:image",       :content => "#{@playlist.thumb}"}
  %meta{:property => "og:url",       :content => "http://plist.tv#{request.request_uri}"}

- content_for :footer do
  - if user_signed_in? && myown_playlist
    = render 'playlists/options', playlist: @playlist, link_invite_everyone: @link_invite_everyone
#player{:playlist => "#{@playlist.id}"}
  .wrapper-player
    #ytplayer{:style=>"display:none;background-color:black;width:950px;height:270px;float:left;margin-bottom:10px;"}
      #ytapiplayer
        %p{:style=>"display:none;"} You need Flash player 8+ and JavaScript enabled to view this video.
    #playlist{:style=>""}
      #video-list-tabs
        = render 'playlist_queue', playlist: @playlist
        = render 'search_youtube', playlist: @playlist
  
  = render 'messages/list'
  / #comments
  /   %h2 Comments
  /     %fb:comments{:href=>"#{request.url}", :num_posts=>"2", :width=>"800"}

%script(type="text/javascript")
  window.current_playlist = '#{@playlist.id}';
  window.current_user = '#{@playlist.user.username}';
  window.watch = 1;

  var faye = new Faye.Client('http://localhost:9292/faye');
  faye.subscribe("/playlist/#{@playlist.id}", function(data) {
  eval(data);
  });

