.top
  .wrapper-top
    #logo
      %h1
        %a{:href=>"/"} pList.tv
    / .search
    /   %input{:type=>"text", :value=>"Search"}
    /   %a.search-btn{:href=>"#"} Go
    .account
      - if user_signed_in?
        %a.member{:href=>"#"}
          %span.label= current_user.username
          %span.icon
        .img{:style=>"width:20px;height:20px;background-color:white;float:right;"}
          %img{:src=>"#{avatar_url(current_user)}", :width=>"20", :height=>"20"}
        .dropdown{:style=>"display:none;"}
          = link_to 'Create Playlist', '#', :class => 'create-playlist create-playlist-btn'
          .my-playlists
            = link_to user_playlists_path(current_user), :class => '' do
              My Playlists
            .ul#login-user-playlists
              - current_user.playlists.each do |pls|
                %li= link_to pls.title, user_playlist_path(current_user, pls.id)
          .my-playlists
            = link_to user_playlists_path(current_user), :class => '' do
              Shared Playlists
            .ul#user-shared-playlists
              = shared_playlits
          / = link_to 'My Jukeboxes', user_jukeboxes_path(current_user)
          = link_to 'Settings', '#', :class => 'settings-link'
          - if current_user.is_admin
            = link_to 'Admin', admin_featured_path
          = link_to 'Sign out', logout_path, :class => 'logout'
        = render 'playlists/add_playlist'
        = render 'users/settings'
        = render 'layouts/filter_youtube_form'
      - else
        = link_to "Create Account", '#', :class => 'sign-up-link'
        &nbsp;
        |
        = link_to "Sign In", '#', :class => 'sign-in'

        = render 'layouts/login'
        = render 'layouts/signup_form'
        = render 'layouts/forgot_password'
