.login-form
  = form_tag user_session_path, :remote => true, :id => "login-form" do
    = text_field_tag 'user[email]', '', :placeholder => "email"
    = text_field_tag '', 'password', :class => "txtPassword"
    = password_field_tag 'user[password]', '', :placeholder => "password", :class => "password"
    = link_to "Forgot your password?", '#', :class => "forgot-password-link"
