!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => "Description", :content => "#{yield(:description) || 'The Video Jukebox for Content Enthusiasts'}"}
    %title= yield(:title) || "pList.tv"
    
    = include_javascripts :vendor, :plugins, :modals, :app
    = include_stylesheets :app

    = yield :head
    = csrf_meta_tag
  %body
    #root
      = render 'layouts/header'
      #content.home
        - if flash[:error] or flash[:notice]
          = render 'layouts/flash_messages'
        .wrapper-content
          .main
            .wrapper-main
              = yield
    #fb-root
    = javascript_include_tag 'plugins/fb'
    = yield :footer
    = render 'layouts/footer'

