!!!5
%html
  %head
    %meta{:charset => 'utf-8'}
    %title= yield(:title) || "pList.tv"

    = javascript_include_tag "jquery.min", "jquery_ujs", "application", 'underscore-min', 'login'
    = javascript_include_tag "thirdparty/ui/jquery.ui.core", "thirdparty/ui/jquery.ui.widget", "thirdparty/ui/jquery.ui.mouse.min", "thirdparty/ui/jquery.ui.sortable.min", "thirdparty/jquery.fancybox/jquery.fancybox-1.3.4.pack", "swfobject.js", "json.js", 'functions', "thirdparty/ui/jquery.ui.tabs"
    = javascript_include_tag 'jquery-fallr-1.2.min', 'jquery.ctNotify'
    = javascript_include_tag 'jquery.clickmenu', 'options', 'add_playlist', 'user-settings'

    = stylesheet_link_tag 'css/screen.css', 'css/styles.css', 'fancybox/jquery.fancybox.css'
    = stylesheet_link_tag 'jquery-fallr-1.0', 'jquery-fallr-changes', 'jquery.ctNotify', 'clickmenu', 'minibutton'
    = stylesheet_link_tag 'css/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'css/ie.css', :media => 'screen, projection'
    = yield :head
    = csrf_meta_tag
  %body
    #root
      = render 'layouts/header'
      #content.home
        - if flash[:error] or flash[:notice]
          = render 'layouts/flash_messages'
        .wrapper-content
          .main
            .wrapper-main
              = yield
    #fb-root
    = javascript_include_tag 'fb'
    = yield :footer

